<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Signup</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container my-2" >
		<h1>Admin REGISTRATION</h1>
		<hr>
		<h2>Save Admin</h2>
		
		
		<form action="#" th:action="@{/saveAdmin}" th:object="${admin}" method="POST">
		
ID				:<input type="number" th:field="*{admin_id}" readonly ><br>
USERNAME			:<input type="text" th:field="*{name}" required><br>
PASSWORD			:<input type="password" th:field="*{password}" required><br>
E-MAIL				:<input type="email" th:field="*{email}" required><br>

			<button type="submit" class="btn btn-info col-2">Save Admin</button>
		</form>
	</div>
</body>
</html>