<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Feedback Register</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container my-2" >
		<h1>FEEDBACK REGISTRATION</h1>
		<hr>
		<h2>Save FEEDBACK</h2>
		
		
		<form action="#" th:action="@{/saveFeedback}" th:object="${feedback}" method="POST">
		
FEEDBACK ID				:<input type="number" th:field="*{id}" readonly ><br>
USER ID				:<input type="number" th:field="*{user_id}" readonly ><br>
NAME			:<input type="text" th:field="*{name}" ><br>
E-MAIL				:<input type="email" th:field="*{email}" required><br>
<!-- Taking only Integers as Feedback -->
FEEDBACK			:<input type="text" th:field="*{feedback}" ><br>

			<button type="submit" class="btn btn-info col-2">Save Feedback</button>
		</form>
	</div>
</body>
</html>