<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
 	 	<a class="navbar-brand" href="#">Navbar</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
 	 	</button>
  		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    		<div class="navbar-nav">
		      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
		      <a class="nav-item nav-link" href="#">Features</a>
		      <a class="nav-item nav-link" href="#">Pricing</a>
		      <a class="nav-item nav-link disabled" href="#">Disabled</a>
   			 </div>
  		</div>
	</nav>
	
	<div align="center" class="container my-2">
	<h3>User Console</h3>
	<a th:href="@{/RegistrationForm}" class="btn btn-primary btn-sm mb-3">User Registration</a>
	<a th:href="@{/ViewallUsers}" class="btn btn-primary btn-sm mb-3">View All Users</a>
	<br>
	<h3>Admin Console</h3>
	<a th:href="@{/AdminRegistrationForm}" class="btn btn-primary btn-sm mb-3">Admin Registration</a>
	
	<a th:href="@{/ViewallAdmins}" class="btn btn-primary btn-sm mb-3">View All Admins</a>
	<h3>Feedback Console</h3>
	<a th:href="@{/ViewallFeedbacks}" class="btn btn-primary btn-sm mb-3">View All Feedbacks(for admin)</a>
		
	</div>
</body>
</html>