<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Signup</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container my-2" >
		<h1>USER REGISTRATION</h1>
		<hr>
		<h2>Save User</h2>
		
		
		<form action="#" th:action="@{/saveUser}" th:object="${user}" method="POST">
		
			ID				:<input type="number" th:field="*{id}" readonly><br>
USERNAME			:<input type="text" th:field="*{username}"><br>
PHONE NUMBER			:<input type="text"  maxlength=10 th:field="*{phone}"><br>
REGISTRATION DATE		:<input type="date" th:field="*{reg_date}" ><br>
PASSWORD			:<input type="password" th:field="*{password}"><br>
PHOTO				:<input type="file" th:field="*{photo}"><br>
E-MAIL				:<input type="email" th:field="*{email}"><br>
ADDRESS				:<input type="text" th:field="*{address}"><br>

			<button type="submit" class="btn btn-info col-2">Save user</button>
		</form>
	</div>
</body>
</html>